html, body { 
	margin: 0; 
	padding: 0; 
}

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;	
}

.header h1 {
	margin: 0;
	padding:0;
}
.nav {
	width: 50%;
	margin-right: 0px;
	float: right;
}

.menu-btn {
	background-color:rgba(216,25,47,1); 
	box-shadow:0 2px 4px rgba(0,0,0,.5); 
	color:#fff; 
}


#menu {
	display: none;
}

.jumbotron {
	background: url(http://www.fultonpostnews.com/images/news/2015/10/1444135202_news_.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.jumbotron h2 {
	margin:120px 0 0;
	color: #fff;
	font-size:60px;
	text-align:bottom;
	margin:0;
	
}


.col {
	float: left;
	width: 100%;
	text-align: center;
}

.col-events-sub {
	width: 50%;
	position: relative;
}



.col-events h2 {
	margin: 0; 
	padding: 0 0 20px; 
	font-size: 30px;
}

.col-events h3 {
	margin: 0; 
	padding: 0 0 20px; 
	font-size: 20px;
}

.col-events h4 {
	color:#d8192f; 
	margin: 30px 0 20px; 
	padding: 0; 
	font-size: 20px;
}


.col-about h3 {
	margin: 0; 
	padding: 0 0 20px; 
	font-size: 20px;
}

.about-img {
	background: url();
}

.clearfix {
  clear: both;
}

.footer {
	background-color: #333;
  	color: #fff;
}
	

@media (max-width: 360px) {

.header {
	width: 100%
}

.container {
	width: 100%;
}

}
