<div class="locations">
    <center>
      <p>Which show are you thinking?</p>
      <p>These are the events in your <b><%= @city %></b></p>
      <% @parsed["Events"].each do |f| %>
      <% if f["Event"]["MetropolitanAreaName"] %>
        <% name = f["Event"]["MetropolitanAreaName"] %>
      <% else %>
        <% name = f["Event"]["CityName"] %>
      <%end%>
      <% event_city = f["Event"]["EventLocation"] %>
      <%= link_to :city=>"#{@city}", class:"button"%>
      <br><br>
      <%end%>
    </center>
</div>
