<div class="locations">
    
    <center>
      <p>Which show are you thinking?</p>
      <p>These are the events in zip code: <b><%= @zip_code %></b></p>
      <% ["events"].each do |f| %>
        <%= f["artist_id"]%>
        <%= f["artist_name"] %>

      <%= link_to zip_code: @zip_code, class:"button"%>
      <%end%>
    </center>
</div>

  