    <div class="header">
      <div class="container">
         <div class="row">
           <div class="col-md-4"> <h1>rave with rubio</h1></div>
              <ul class="nav nav-pills">
                <li class="active"><a href="#">about</a></li>
                <li><a href="https://marcorubio.com/events/">rubio</a></li>
                <li><a href="#">raves</a></li>
              </ul>
           </div>
         </div>
      </div>    
    
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-4"> <h2>rubio</h2> <h2>and</h2> <h2>raves.</h2> </div>
          </div>   
        </div>
      </div>

    <div class="section banner">
      <div class="container"> <h3>Find the nearest rave to Rubio's campaign trail.</h3><a class="btn btn-lg btn-default" href="#">learn more</a></div>
    </div>
            
    <div class="section">
      <div class="container">
        <div class="page-header"> <h3>upcoming</h3></div>
          <div class="row">
            <div class="col-md-4"><h4>Nevada</h4>
              <ul>
                <li>Feb. 21: Rubio at North Las Vegas Rally<li>
                <li>Feb. 21: Borgeous, 10pm, Hakkasan at MGM Grand</li>
                <li>Feb. 21: Jerzy, 10pm, XS, Encore</li>
                <li>Feb. 21: DJ Franzen, 10pm, Draias Rooftop Nightclub, The Cromwell</li>
              </ul>
            </div>
          
            <div class="col-md-4"><h4>Tennessee</h4>
              <ul>
                <li>Feb 21: Middle Tennesee Rally with Rubio</li>
                <li>Feb 20: Excision, Global Events Center<li>
              </ul>
            </div>
          
            <div class="col-md-4"><h4>Michigan</h4>
              <ul>
                <li>Feb 23: Western Michigan Rally with Rubio</li>
                <li>Feb. 23: Best Coast and Wavves</li>
              </ul>
            </div>
      </div>
      </div>
    </div>
    
    <div class="footer">
      <div class="container">
        <p>&copy; 2016 Rave with Rubio</p>
        <p class="a-center"><a href="#">ravewithrubio.com</a></p>
        <p class="a-right">NY, NY</p>
      </div>
    </div>